
@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Avion</title>
</head>
<body>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Référence de l'avion</th>
                    <th> Capacité</th>
                    <th> Localisation </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> A 380 </td>
                    <td> 200 </td>
                    <td> Paris </td>
                </tr>
                <tr>
                    <td> A 777 </td>
                    <td> 500 </td>
                    <td> Londres </td>
                </tr>
                <tr>
                    <td> A 404 </td>
                    <td> 1000 </td>
                    <td> New york </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
