
@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Avion</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th> Référence de l'avion</th> <th> Capacité</th> <th> Localisation </th>
            </tr>
            <tr>
                <td> A 380 </td> <td> 200 </td> <td> Paris </td>
            </tr>
        </table>
    </div>
</body>
</html>
